@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black:#101115;
    --orange:rgba(229, 156, 0, 0.8);
    --fondo-b:#191a21;
    --blue: #122ae0;
    --td:#1d1e29;
    --scroll: #585a67;
    --scroll_hover:#34353d;
    --scroll_oscuro:#3d3f48;
    --scroll_oscuro_hover:#34353d;
}

*{
    font-family: sans-serif,Lunasima;
    overflow-x: hidden;
}

hr{
    border: solid #101115 1px;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body::-webkit-scrollbar{
    background-color:var(--fondo-b);
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--scroll);
    border-radius: 20px;
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll_hover);
}

a{
    color: rgba(234,236,239,1);
    text-decoration: none;
}

li{
    list-style: none;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.5fr 4fr 2fr;
}

/*-----------------------MAIN-----------------------*/

#main-container main{
    background-color:var(--fondo-b);
    grid-column: 1/4;
    height: 802px;
    overflow-y: hidden;
}

.migas-pan{
    height: 20px;
    color: #fff;
    text-align: end;
    margin-right: 100px;
}

.migas-pan span:hover{
    color:var(--orange);
}


/*-----------------------HEADER-----------------------*/
#main-container header{
    background-color: var(--black);
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
}

a h1{
    text-transform: uppercase;
    font-size:x-large;
}

header a img{
    max-width:5rem ;
    max-height: 5rem;
    border-radius: 100px;
    margin: 20px;
}

/*-----------------------FOOTER-----------------------*/
#main-container footer{
    background-color: var(--black);
    grid-column: 1/4;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows:repeat(2,minmax(150px,1fr));
    height: 401px;
}

#contenedor-redes{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#contenedor-redes a img{
    width: 40px;
}

#contenedor-redes a{
    margin: 10px;
   
}

#logo-instagram{
    min-width: 45px;
}

footer h4{
   grid-column: 1/4;
}

#contenedor-lista{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#contenedor-lista a:hover{
    color: var(--orange);
}

#contenedor-lista ul li{
    margin: 40px; 
}

#contenedor-nose{
    color: #838383;
    font-size: small;
    grid-row:2/4;
    justify-self: center;
    align-self: end;
}

#contenedor-nose2{
    color: #838383;
    font-size: small;
    grid-column: 3/4;
    justify-self: center;
    align-self: end;
}

#contenedor-nose2 a{
    color: var(--orange);
}

#contenedor-nose2 a:hover{
    color: var(--blue);
}

/*--------------------COMENTARIOS MENU LATERAL---------------------*/
#coments{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background-color: #fff;
    width: 80%;
    min-height: 260px;
    max-height: 260px;
    min-width: 201px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}

#coments img{
    min-width: 70px;
    max-width: 70px;
    border-radius: 50px;
    margin: 5px;
}

#coments p{
    grid-column: 1/3;
    margin: 20px 5px;
}

#coments h5{
    margin-left: 20px;
}