:root{
    --black:#101115;
    --color-main:rgba(63, 71, 84,1);
    --orange:rgba(229, 156, 0, 0.8);
    --fondo-b:#191a21;
    --blue: #122ae0;
}


main{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 8fr 8fr;
}

#contenido-principal{
    background-color: var(--black);
    color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(207, 142, 2, 0.05);
    border-radius: 10px;
    padding: 50px;
    grid-row: 2/4;
    grid-column: 2/6;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#contenido-principal h2{
    font-size: 40px;
    grid-column: 1/5;
    align-self: start;
    justify-self: center;
    text-transform: uppercase;
}

.migas-pan{
    grid-column: 4/6;
    width: 100%;
    margin-bottom: 0;
}

#contenido-principal form{
    grid-column: 1/5;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.label-name{
    align-self: end;
    text-transform: uppercase;
}

.label-email{
    align-self: center;
    text-transform: uppercase;
}

#nombre{
    grid-column: 2/6;
    grid-row: 1/2;
    margin-bottom: 10px;
}

#email{
    grid-column: 2/6;
    grid-row: 2/4;
    margin-top: 10px;
    align-self: center;
}



#message{
    grid-row: 4/5;
    grid-column: 2/6;
    height: 100%;
    max-width: 97.95%; /*uso este porcentaje tan raro pero es para que el text area quede exactamente de la misma longitud que el mail*/
    resize: none;
}

.data{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid var(--orange);
    color: #fff;
    padding: 10px;
}

.data:hover{
    border-bottom:2px solid rgba(227, 204, 34,1);
    transition: border-bottom 2s;
}

.data:focus{
    outline: none;
    border-top: none;
    /*sin outline no funciona*/
}

/*input:-webkit-autofill: Esto selecciona cualquier elemento <input> que esté siendo autocompletado por el navegador 
(por ejemplo, cuando se rellena automáticamente con datos previos).*/
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px #101115 inset ;
    caret-color: #fff ;

    /*caret-color es el color del cursor*/

    /*
    -webkit-box-shadow: 0 0 0 30px white inset !important;: Aquí se establece una sombra en el campo autocompletado. 
    La sombra es de color blanco (white) y se muestra hacia adentro (inset
    La razón por la que se utiliza -webkit-box-shadow en lugar de simplemente cambiar el color de fondo es porque el 
    comportamiento de los campos autocompletados (autofill) está controlado por el navegador y utiliza estilos específicos. 
    En cambio, cambiar el color de fondo directamente podría no funcionar correctamente en todos los navegadores, 
    ya que algunos pueden aplicar estilos adicionales o ignorar las reglas de fondo personalizadas para los campos autofill. 
    Por lo tanto, utilizar -webkit-box-shadow es una forma más confiable
    */

    /*
    -webkit-box-shadow: Esta propiedad se utiliza para agregar una sombra alrededor de un elemento. 
    El prefijo -webkit- indica que es específico para navegadores basados en WebKit (como Chrome y Safari).
    0 0 0 30px white inset: Estos valores definen los parámetros de la sombra:
    El primer 0 representa el desplazamiento horizontal de la sombra (en este caso, no hay desplazamiento).
    El segundo 0 representa el desplazamiento vertical de la sombra (también sin desplazamiento vertical).
    El tercer 0 es el radio de difuminado de la sombra (sin difuminado).
    30px es la longitud de la sombra (en este caso, 30 píxeles).
    white indica el color de la sombra (blanco).
    inset especifica que la sombra debe estar dentro del elemento (es decir, una sombra interna).
    */
}

/* Cambia el color del texto en el input autofill */
input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
}

#send{
    grid-row: 6/7;
    grid-column:4/5;
}

#clean{
    grid-row: 6/7;
    grid-column: 3/4;
}

.boton{
    border: none;
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 5px;
}

.boton:hover{
    transition: background-color 0.5s;
    background-color:rgb(235, 165, 14);
    /*background-color:rgb(157, 108, 2);*/
}

.boton:active{
    background-color:var(--orange);
}

/*-----------------------MENU LATERAL-----------------------*/
.menu-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/4;
    margin-left: 12px;
    /*max-width: 250px;
    max-height: 710px;*/
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.menu-lateral ul a{
    margin-bottom: 55px;
    padding:20px;
    background-color: var(--orange);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.menu-lateral ul a:hover{
    transition: background-color 0.5s;
    background-color:rgb(235, 165, 14);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
    transform: translateY(-1px); /* Levantar el botón */
}

.menu-lateral ul a:active{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra cuando se hace clic */
    transform: translateY(1px); /* Hunde el botón */
}


#coments{
    min-width: 201px;
    max-width: 201px;
}
