*{
    font-family: sans-serif;
}

body{
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

/*HEADER*/
header{
    display:flex;
    background-image: url("../../IMG/calculadora.jpg");
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}


header nav{
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    background-position: center;
}

header nav a{
    color: #fff;
    margin: 0 10px;
}

a{
    text-decoration: none;  
}

a:visited{
    color: #fff;
}

#logo-nav{
    border-radius: 25px;
    max-width: 50px;
    max-height:50px;
}


/*MAIN*/
main{
    background-color: rgba(247, 255, 6, 0.5);
    display: grid;
    grid-template-columns:3fr 9fr;
    height: 100vh;
}

#menu-navegacion{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(188,215,239,1);
}

#menu-navegacion ul{
    margin-bottom: 50px;
    list-style:none;
    display: grid;
    padding: 0 40px;
}

#menu-navegacion ul a{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    border-radius: 100px;
    padding: 20px;
    background-color: rgba(70,114,196,1);
    border-color: rgba(70,114,196,1);
    text-transform: uppercase;
}

/*tengo que agregar los iconos a cada link del menu*/
#menu-navegacion ul a:hover{
    background-color: rgba(145,171,219,1);
    border-color: rgba(145,171,219,1);
}

#comentario{
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    margin-top: 20px ;
}

#comentario img{
    height: 50%;
    width: 50%;
    margin-right:10px;
}

#comentario p{

}


#principal{

}

/*FOOTER*/
footer{
    background-color: rgba(205, 45, 45, 0.5);
    height: 10vh;
}