@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:sans-serif,Lunasima;
}

hr{
    border: solid #101115 1px;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

a{
    color: rgba(234,236,239,1);
    text-decoration: none;
}


li{
    list-style: none;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.5fr 4fr 2fr;
}

:root{
    --black:#101115;
    --color-main:rgba(63, 71, 84,1);
    --orange:rgba(229, 156, 0, 0.8);
    --fondo-b:#191a21;
    --blue: #122ae0;
    --scroll: #585a67;
    --scroll_hover:#34353d;
    --scroll_oscuro:#3d3f48;
    --scroll_oscuro_hover:#34353d;
}

body::-webkit-scrollbar{
    background-color:var(--fondo-b);
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--scroll);
    border-radius: 20px;
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll_hover);
    border-radius: 20px;
    scrollbar-width: thin;
}
/*-----------------------HEADER-----------------------*/
#main-container header{
    background-color: var(--black);
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
}

a h1{
    text-transform: uppercase;
    font-size: x-large;
}

header a img{
    max-width:5rem ;
    max-height: 5rem;
    border-radius: 100px;
    margin: 20px;
}

/*-----------------------MAIN-----------------------*/
#main-container main{
    background-color:var(--fondo-b);
    grid-column: 1/4;
}

#mid-section{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}

/*-----------------------CONTENIDO PRINCIPAL-----------------------*/
#contenido-principal{
    background-color: #191a21;
    grid-column: 2/4;
    margin-bottom: 10px;
}

#lista-monedas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 0;
    overflow-y:auto;
    max-height: 700px;
    margin-right: 20px;
}

#lista-monedas::-webkit-scrollbar{
    background-color:var(--fondo-b);
    border-radius: 20px;
    scrollbar-width: thin;
}

#lista-monedas::-webkit-scrollbar-thumb{
    background-color: var(--fondo-b); /**/
    border-radius: 20px;
    scrollbar-width: thin;
}

#lista-monedas::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll_oscuro_hover);
    border-radius: 20px;
    scrollbar-width: thin;
}

#lista-monedas div{
    display: grid;
    padding: 20px;
    grid-template-columns: 2fr 2fr 2fr 50px;
}

div h4{
    justify-self: start;
    align-self: center;
}

div .compra{
    justify-self: center;
    align-self: center;
}

div .venta{
    justify-self: center;
    align-self: center;
}

#lista-monedas div{
    background-color: #1d1e29;
    color:#fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    min-width: 400px;
}

#lista-monedas div:hover{
    background-color:#1f2027 ;
}

#lista-monedas div:active{
    background-color:#1c1d23 ;
}

#contenido-principal ul li button img{
    width: 20px;
}

#contenido-principal ul li button{
    background-color:#1d1e29;
    width: 40px;
    border: none;   
}

#contenido-principal ul li button:hover{
    background-color:var(--fondo-b);
    border: none;
}

#contenido-principal ul li button:active{
    background-color:rgb(131, 131, 131);
    border: none;
}

#contenedor-selector{
    margin:20px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selector-monedas{
    padding: 10px;
    background-color: var(--fondo-b);
    border: solid #fff 1px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.migas-pan{
    height: 20px;
    color: #fff;
}

.migas-pan span:hover{
    color:var(--orange);
}

/*-----------------------CHECKBOX-----------------------*/
.checkbox{
    width: 10px;
    grid-column: 4/5;
    grid-row: 2/3;
    width: 10px;
    height: 10px;
}

.label-checkbox{
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.label-checkbox img{
    width: 50%;
}


/*-----------------------MENU LATERAL-----------------------*/
.menu-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.menu-lateral ul a{
    margin-bottom: 55px;
    padding:20px;
    background-color: var(--orange);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.menu-lateral ul a:hover{
    transition: background-color 0.5s;
    background-color:rgb(235, 165, 14);
}

#coments{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background-color: #fff;
    width: 80%;
    min-height: 260px;
    max-height: 260px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}

#coments img{
    min-width: 70px;
    max-width: 70px;
    border-radius: 50px;
    margin: 5px;
}

#coments p{
    grid-column: 1/3;
    margin: 20px 5px;
}

#coments h5{
    margin-left: 20px;
}

/*-----------------------FOOTER-----------------------*/
#main-container footer{
    background-color: var(--black);
    grid-column: 1/4;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows:repeat(2,minmax(150px,1fr));
}

#contenedor-redes{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#contenedor-redes a img{
    width: 40px;
}

#contenedor-redes a{
    margin: 10px;
   
}

#logo-instagram{
    min-width: 45px;
}

footer h4{
   grid-column: 1/4;
}

#contenedor-lista{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#contenedor-lista a:hover{
    color: var(--orange);
}

#contenedor-lista ul li{
    margin: 40px; 
}

#contenedor-nose{
    color: #838383;
    font-size: small;
    grid-row:2/4;
    justify-self: center;
    align-self: end;
}

#contenedor-nose2{
    color: #838383;
    font-size: small;
    grid-column: 3/4;
    justify-self: center;
    align-self: end;
}

#contenedor-nose2 a{
    color: var(--orange);
}


#contenedor-nose2 a:hover{
    color: var(--blue);
}